<div id="device_tags" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">bookmark</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">TAGS</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button [routerLink]="'/apps/e-commerce/products/new'" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW TAG</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="events-table" [dataSource]="dataSource" fusePerfectScrollbar>

        <!-- ATTRIBUTE NAME -->
        <ng-container cdkColumnDef="attribute">
          <mat-header-cell *cdkHeaderCellDef>Attribute</mat-header-cell>
          <mat-cell *cdkCellDef="let tag">
            <mat-form-field floatPlaceholder="tag.editing ? ''">
              <input [readonly]="false" placeholder="attribute" [(ngModel)]="tag.currentValue" matInput>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <!-- ATTRIBUTE NAME -->

        <!-- ATTRIBUTE VALUE -->
        <ng-container cdkColumnDef="value">
          <mat-header-cell *cdkHeaderCellDef>Value</mat-header-cell>
          <mat-cell *cdkCellDef="let tag">
            <div fxLayout="column" fxLayoutAlign="center center">
              {{tag.weight}}
            </div>
          </mat-cell>
        </ng-container>
        <!-- ATTRIBUTE VALUE -->

        <!-- ACTIONS-->
        <ng-container cdkColumnDef="actions">
          <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *cdkCellDef="let tag">
            <div fxLayout="row" fxLayoutAlign="center center">
              <button fxLayoutAlign="center center" mat-icon-button (click)="tag.editing ? tag.editing = true : tag.editing = false" >
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>check_circle</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteElementFromTable(tag)">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </mat-cell>
        </ng-container>
        <!-- ACTIONS-->

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let event; columns: displayedColumns;" class="mat-row" matRipple>
        </mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
