<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span *ngIf="tagElement.name  === '' " class="title dialog-title">{{ 'DIALOG.ADD_TAG' | translate }}</span>
      <span *ngIf="tagElement.name  !== '' " class="title dialog-title">{{ 'DIALOG.EDIT_TAG' | translate }}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="{{ 'DIALOG.FORM_NAME'  | translate }}" [(ngModel)]="tagElement.name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'DIALOG.FORM_TYPE'  | translate }}" [formControl]="myControl" [(ngModel)]="tagElement.type" [matAutocomplete]="auto">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <mat-table class="events-table content-card" [dataSource]="dataSource" fusePerfectScrollbar>

      <!-- ATTRIBUTE NAME -->
      <ng-container cdkColumnDef="attribute">
        <mat-header-cell *cdkHeaderCellDef>{{ 'DIALOG.TABLE_ATTRIBUTE' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let tag">
          <mat-form-field [ngClass]="{'no-underline': !tag.editing}" floatPlaceholder="{{ tag.editing? 'float': 'never' }}">
            <input class="form-control" required [readonly]="!tag.editing" placeholder="{{ 'DIALOG.TABLE_ATTRIBUTE' | translate }}" [(ngModel)]="tag.currentValue.key"
              matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <!-- ATTRIBUTE NAME -->

      <!-- ATTRIBUTE VALUE -->
      <ng-container cdkColumnDef="value">
        <mat-header-cell *cdkHeaderCellDef>{{ 'DIALOG.TABLE_VALUE' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let tag">
          <mat-form-field [ngClass]="{'no-underline': !tag.editing}" floatPlaceholder="{{ tag.editing? 'float': 'never' }}">
            <input required [readonly]="!tag.editing" placeholder="{{ 'DIALOG.TABLE_VALUE' | translate }}" [(ngModel)]="tag.currentValue.value" matInput>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
              <textarea matInput matInpur="Leave a comment"></textarea>
            </mat-form-field>t placeholde -->
        </mat-cell>
      </ng-container>
      <!-- ATTRIBUTE VALUE -->

      <!-- ACTIONS-->
      <ng-container cdkColumnDef="actions">
        <mat-header-cell fxLayoutAlign="center center" *cdkHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let tag">
          <div fxLayout="row" fxLayoutAlign="center center">
            <button *ngIf="!tag.editing" fxLayoutAlign="center center" mat-icon-button (click)="startToEditing(tag)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button *ngIf="tag.editing" (click)="finishEditing(tag)" mat-icon-button [disabled]="tag.currentValue.key ==='' || !tag.currentValue.key || tag.currentValue.value === '' || !tag.currentValue.value">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteElementFromTable(tag)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <!-- ACTIONS-->

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let event; columns: displayedColumns;" class="mat-row" matRipple>
      </mat-row>
    </mat-table>

    <div style="margin-top: 10px" fxLayout="row" fxLayoutAlign="space-around center" >
        <button mat-fab color="primary" (click)="addNewAttribute()" >
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
    </div>



  </div>

</div>
