@import "src/app/core/scss/fuse";

:host {
  .header {
    .search-input-wrapper {
      max-width: 480px;
    }

    @include media-breakpoint-down(xs) {
      height: 176px !important;
      min-height: 176px !important;
      max-height: 176px !important;
    }
  }

  .top-bg {
    @include media-breakpoint-down(xs) {
      height: 240px;
    }
  }

  .mat-header-cell {
    color: #444444;
    font-size: 16px;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 9999;
  }

  .events-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;

    .mat-header-row {
      min-height: 52px;
      padding: 0 12px !important;
      height: 64px;
    }

    .mat-row {
      position: relative;
      cursor: pointer;
      height: 52px;
      padding: 0 12px !important;
    }
  }
}
