

<div id="device_tags" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">bookmark</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">TAGS</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="{{ 'GENERAL_TABLE.SEARCH' | translate }}">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button (click)="onNewTag()" class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>{{ 'GENERAL_TABLE.NEW_TAG' | translate }}</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="events-table" [dataSource]="dataSource" fusePerfectScrollbar>

        <!-- TAG NAME -->
        <ng-container cdkColumnDef="attribute">
          <mat-header-cell fxFlex="40" *cdkHeaderCellDef>{{ 'GENERAL_TABLE.NAME' | translate }}</mat-header-cell>
          <mat-cell fxFlex="40" *cdkCellDef="let tag">
            <div class="margin_right_left_5">
              <span>{{tag.name}}</span>
            </div>
          </mat-cell>
        </ng-container>
        <!-- TAG NAME -->

        <!-- TAG TYPE -->
        <ng-container cdkColumnDef="value">
          <mat-header-cell fxFlex="40" *cdkHeaderCellDef> {{ 'GENERAL_TABLE.TYPE' | translate }} </mat-header-cell>
          <mat-cell fxFlex="40" *cdkCellDef="let tag">
            <div class="margin_right_left_5">
              <span>{{tag.type}}</span>
            </div>
          </mat-cell>
        </ng-container>
        <!-- TAG TYPE -->

        <!-- ACTIONS-->
        <ng-container cdkColumnDef="actions">
          <mat-header-cell fxFlex="20" *cdkHeaderCellDef>{{'GENERAL_TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell fxFlex="20" *cdkCellDef="let tag">
            <div  class="margin_right_left_5">

              <button mat-icon-button (click)="editTag(tag)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteElementFromTable(tag)">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </mat-cell>
        </ng-container>
        <!-- ACTIONS-->

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let tag; columns: displayedColumns;" class="mat-row" matRipple>
        </mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
